In [1]:
from google.colab import files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk,re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.decomposition import LatentDirichletAllocation

from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
import xgboost as xgb

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

uploaded=files.upload()
!pip install "dask[complete]"

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

Saving Dealroom data.csv to Dealroom data.csv
Requirement already satisfied: dask[complete] in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: cloudpickle>=0.2.1; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.3.0)
Collecting distributed>=2.0; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/4e/39/665a3b952ac889839eead70813dbc638fe49be4c6217ed249fc06b6485fa/distributed-2.30.0-py3-none-any.whl (656kB)
     |████████████████████████████████| 665kB 7.8MB/s
Requirement already satisfied: numpy>=1.13.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.18.5)
Requirement already satisfied: PyYaml; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (3.13)
Requirement already satisfied: pandas>=0.23.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.1.2)
Requirement already satisfied: toolz>=0.7.3; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (0.11.1)
Collecting fsspec>=0.6.0; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/a5/8b/1df260f860f17cb08698170153ef7db672c497c1840dcc8613ce26a8a005/fsspec-0.8.4-py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 6.3MB/s
Requirement already satisfied: bokeh>=1.0.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (2.1.1)
Collecting partd>=0.3.10; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (1.0.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (2.0.0)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (5.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (50.3.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (5.4.8)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (7.1.2)
Collecting contextvars; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (2.2.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (1.7.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "complete"->dask[complete]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "complete"->dask[complete]) (2.8.1)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (2.11.2)
Requirement already satisfied: pillow>=4.0 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (7.0.0)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (20.4)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (3.7.4.3)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.0; extra == "complete"->dask[complete]) (1.0.1)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 8.3MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "complete"->dask[complete]) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh>=1.0.0; extra == "complete"->dask[complete]) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh>=1.0.0; extra == "complete"->dask[complete]) (2.4.7)
Building wheels for collected packages: contextvars, locket
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7666 sha256=fc5d4c90c2c655179783e4d1c5bab8079749082a2d071bd644a63b2b7b43cf5b
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=42e903248371887db7ca6dfb193efef9049802781a7142f361c0361f5534df88
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built contextvars locket
ERROR: distributed 2.30.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
Installing collected packages: immutables, contextvars, distributed, fsspec, locket, partd
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed contextvars-2.4 distributed-2.30.0 fsspec-0.8.4 immutables-0.14 locket-0.2.0 partd-1.1.0

In [2]:
import dask.dataframe as dd
df=pd.read_csv('Dealroom data.csv',encoding= 'unicode_escape')
df

                           NAME  ... TYPE
0                         63336  ...  NaN
1                       @Futsal  ...  NaN
2                   #5 Magazine  ...  NaN
3                     03Numbers  ...  NaN
4      077football News & Media  ...  NaN
...                         ...  ...  ...
11577                   Zyentia  ...  NaN
11578                      Zyex  ...  NaN
11579     Zynk Software Limited  ...  NaN
11580                  Zytronic  ...  NaN
11581                ??????:520  ...  NaN

[11582 rows x 7 columns]

In [3]:
df=df.drop(['TYPE','GROWTH STAGE','HQ CITY'],axis=1)
df.TAGS=df.TAGS.fillna(' ')
df.TAGLINE=df.TAGLINE.fillna(' ')

In [4]:
# Tags Cleaning

w=WordNetLemmatizer()
tags=df.TAGS.copy()
for i in range(0,len(tags)):
  # Remove special chara and replace with space
  tags[i] =re.sub("[^a-zA-Z]", " ",tags[i]) 
  # Tokenize
  tags[i] =nltk.word_tokenize(tags[i])
  # All to lowercase
  tags[i] = [l.lower() for l in tags[i]]
  # Remove stop words
  tags[i]=[l for l in tags[i] if l not in stopwords.words('english')]
  # Lemmatization
  tags[i]=[w.lemmatize(l) for l in tags[i]]
  # Join
  # tags[i]=' '.join(tags[i])

# # Joining ecommerce to one word
for i in range(0,len(tags)):
  for j in range(0,len(tags[i])):
    if(j+1<len(tags[i])):
      if(tags[i][j]=='e' and tags[i][j+1]=='commerce'):
          tags[i][j+1]=tags[i][j]+tags[i][j+1]
          del tags[i][j]

In [5]:
# Tagline Cleaning

w=WordNetLemmatizer()
tagline=df.TAGLINE.copy()
for i in range(0,len(tagline)):
  # Remove special chara and replace with space
  tagline[i] =re.sub("[^a-zA-Z]", " ",tagline[i]) 
  # Tokenize
  tagline[i] =nltk.word_tokenize(tagline[i])
  # All to lowercase
  tagline[i] = [l.lower() for l in tagline[i]]
  # Remove stop words
  tagline[i]=[l for l in tagline[i] if l not in stopwords.words('english')]
  # Lemmatization
  tagline[i]=[w.lemmatize(l) for l in tagline[i]]
  #Join
  # tagline[i]=' '.join(tagline[i])

In [6]:
# Datetime Cleaning
df['LAUNCH DATE']=df['LAUNCH DATE'].apply(lambda x: pd.to_datetime(x,errors='coerce'))
df['LAUNCH DATE']=df['LAUNCH DATE'].dt.year
df['LAUNCH DATE']=df['LAUNCH DATE'].fillna(0)
df['LAUNCH DATE']=df['LAUNCH DATE'].astype('int64')

In [7]:
df=df.drop(['TAGLINE','TAGS'],axis=1)
tags=tags+tagline
df['TAGS'] = pd.Series(tags, index=df.index)

In [11]:
## Finding Keywords

topics=list(df.TAGS)
tag=[]
for i in range(0,len(topics)):
  for j in range(0,len(topics[i])):
     if topics[i][j] != '':
        tag.append(topics[i][j])

vector=CountVectorizer()
tag_1=vector.fit_transform(tag)
sum_words = tag_1.sum(axis=0) 
wordcount = [(word, sum_words[0, idx]) for word, idx in  vector.vocabulary_.items()]
wordcount =sorted(wordcount, key = lambda x: x[1], reverse=True)
wordcount100=[l for l in wordcount if l[1]>150]
wordcount100

[('technology', 3001),
 ('software', 2973),
 ('service', 2552),
 ('management', 2197),
 ('medium', 1771),
 ('data', 1711),
 ('design', 1675),
 ('mobile', 1575),
 ('solution', 1484),
 ('platform', 1367),
 ('online', 1346),
 ('social', 1328),
 ('company', 1323),
 ('business', 1262),
 ('tech', 1123),
 ('uk', 974),
 ('subscription', 889),
 ('finance', 883),
 ('ecommerce', 863),
 ('cloud', 841),
 ('marketing', 823),
 ('digital', 817),
 ('development', 792),
 ('search', 772),
 ('deep', 754),
 ('risk', 753),
 ('advertising', 748),
 ('community', 736),
 ('engine', 717),
 ('compliance', 709),
 ('video', 705),
 ('game', 690),
 ('based', 650),
 ('home', 641),
 ('system', 634),
 ('provider', 632),
 ('agency', 623),
 ('content', 612),
 ('app', 610),
 ('product', 603),
 ('trading', 598),
 ('web', 577),
 ('delivery', 574),
 ('retail', 542),
 ('energy', 532),
 ('saas', 523),
 ('leading', 516),
 ('communication', 510),
 ('analytics', 509),
 ('enterprise', 484),
 ('market', 478),
 ('branding', 472),
 ('local', 472),
 ('adtech', 468),
 ('consulting', 456),
 ('website', 443),
 ('cleantech', 439),
 ('learning', 430),
 ('network', 429),
 ('payment', 423),
 ('tool', 421),
 ('fintech', 419),
 ('world', 395),
 ('industry', 394),
 ('hardware', 386),
 ('information', 381),
 ('education', 381),
 ('lighting', 380),
 ('commission', 372),
 ('recruitment', 371),
 ('monitoring', 370),
 ('navigation', 368),
 ('security', 363),
 ('regtech', 361),
 ('global', 358),
 ('specialist', 355),
 ('customer', 353),
 ('support', 340),
 ('financial', 331),
 ('developer', 325),
 ('industrial', 324),
 ('investing', 320),
 ('testing', 319),
 ('medical', 318),
 ('london', 312),
 ('manufacturing', 311),
 ('banking', 311),
 ('people', 308),
 ('property', 306),
 ('health', 304),
 ('entertainment', 301),
 ('intelligence', 300),
 ('art', 298),
 ('supply', 293),
 ('travel', 292),
 ('automated', 290),
 ('biotechnology', 289),
 ('sale', 282),
 ('application', 282),
 ('hosting', 278),
 ('user', 275),
 ('group', 275),
 ('real', 272),
 ('help', 271),
 ('printing', 267),
 ('new', 267),
 ('storage', 264),
 ('big', 264),
 ('computer', 262),
 ('job', 260),
 ('resource', 257),
 ('engineering', 257),
 ('shopping', 256),
 ('internet', 253),
 ('providing', 252),
 ('office', 251),
 ('comparison', 251),
 ('process', 249),
 ('care', 248),
 ('consumer', 247),
 ('culture', 247),
 ('quality', 245),
 ('messaging', 241),
 ('research', 238),
 ('food', 235),
 ('one', 232),
 ('publishing', 231),
 ('device', 231),
 ('high', 230),
 ('international', 229),
 ('brand', 229),
 ('reporting', 228),
 ('seo', 225),
 ('sharing', 223),
 ('car', 223),
 ('wireless', 221),
 ('free', 221),
 ('performance', 220),
 ('offer', 216),
 ('led', 214),
 ('insurtech', 214),
 ('independent', 213),
 ('time', 211),
 ('professional', 211),
 ('ltd', 210),
 ('event', 210),
 ('construction', 206),
 ('music', 204),
 ('sector', 203),
 ('healthcare', 203),
 ('skill', 200),
 ('automation', 199),
 ('range', 198),
 ('co', 198),
 ('innovation', 195),
 ('water', 195),
 ('training', 193),
 ('creative', 192),
 ('production', 192),
 ('machine', 192),
 ('news', 191),
 ('innovative', 188),
 ('experience', 187),
 ('renting', 187),
 ('deal', 185),
 ('tv', 185),
 ('provide', 184),
 ('mapping', 184),
 ('chain', 181),
 ('sport', 180),
 ('insurance', 180),
 ('gaming', 178),
 ('accounting', 175),
 ('consultancy', 174),
 ('telecommunication', 174),
 ('st', 171),
 ('virtual', 171),
 ('fashion', 169),
 ('cleaning', 169),
 ('charity', 168),
 ('human', 167),
 ('award', 167),
 ('luxury', 166),
 ('client', 165),
 ('recognition', 165),
 ('work', 164),
 ('economy', 163),
 ('asset', 161),
 ('century', 161),
 ('winning', 160),
 ('vision', 158),
 ('expert', 158),
 ('price', 157),
 ('pr', 156),
 ('aerospace', 156),
 ('organisation', 155),
 ('best', 154),
 ('commercial', 153),
 ('freemium', 152),
 ('sensor', 151)]

In [12]:
tech_kw=['social','subscription','regtech','adtech','programme','technology','technological','medium','hosting','web','fintech','cleantech','game','website','cloud','app','engine','tech','software','data','mobile','platform','analytics','ecommerce','biotechnology','automated','digital','insurtech','wireless','engineering','telecommunication','gaming','virtual','saas','online','data']
uni_kw=['schools','university','college']
tags=df.TAGS.copy()
for i in range(0,len(tags)):
  if any(item in tags[i] for item in tech_kw):
     tags[i]=1
  elif any(item in tags[i] for item in uni_kw):
    tags[i]=2
  else:
    tags[i]=0

In [14]:
df['TAGSENCOD'] = pd.Series(tags, index=df.index)
df.TAGSENCOD=df.TAGSENCOD.astype('int64')

startups=df[(df['LAUNCH DATE']>1990) & (df['TAGSENCOD']==1)]
df=df.drop(startups.index)
print(startups)

MNC=df[(df['LAUNCH DATE']<=1990) & (df['TAGSENCOD']!=2) ]
df=df.drop(MNC.index)
print(MNC)

University=df[df['TAGSENCOD']==2 ]
df=df.drop(University.index)
print(University)

Unclassified=df.copy

df

                                   NAME  ...  TAGSENCOD
0                                 63336  ...          1
1                               @Futsal  ...          1
2                           #5 Magazine  ...          1
4              077football News & Media  ...          1
5      077football News & Media Limited  ...          1
...                                 ...  ...        ...
11577                           Zyentia  ...          1
11578                              Zyex  ...          1
11579             Zynk Software Limited  ...          1
11580                          Zytronic  ...          1
11581                        ??????:520  ...          1

[7936 rows x 4 columns]
                                   NAME  ...  TAGSENCOD
164         ABN AMRO Commercial Finance  ...          0
188           Acal Enterprise Solutions  ...          1
221                      Achilles Group  ...          1
224                               Acora  ...          0
268                     Acuma Solutions  ...          1
...                                 ...  ...        ...
11385             Wpc-woodplastic.co.uk  ...          0
11416           Xenith Document Systems  ...          1
11471  York Health Economics Consortium  ...          0
11478                   Yorkshire Water  ...          1
11536                       Zerographic  ...          1

[291 rows x 4 columns]
                                    NAME  ...  TAGSENCOD
559                     Alpha Plus Group  ...          2
1528                           BrainMass  ...          2
4077                           Fusion IP  ...          2
7432                     Oxbridge Essays  ...          2
8879   Scottish Institute for Enterprise  ...          2
9094                               SI-UK  ...          2
10345                        Tigerscheme  ...          2

[7 rows x 4 columns]

                      NAME  ...  TAGSENCOD
3                03Numbers  ...          0
11                100%Open  ...          0
15            10Associates  ...          0
17                  111pix  ...          0
20                 123 Reg  ...          0
...                    ...  ...        ...
11554  Zoggs International  ...          0
11557                 Zomp  ...          0
11559                Zone3  ...          0
11565          Zoom Abroad  ...          0
11572        Zulu Creative  ...          0

[3348 rows x 4 columns]